.header {
    height: 4vh;
    background-color: aquamarine;
}

.aline-center{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-nav{
    text-decoration: none;
    color: #000000;
}
